/**********************************
 *                                *
 *       CSS for notes page       *
 *                                *
 **********************************/


/* ---------- FONTS ----------*/
@font-face {
  font-family: babapro;
  src: url(BabaPro-Bold.ttf);
}

/* -------- HTML Elements -------*/
a {color: #0FFFFE;}

h1 {margin-bottom: 5px;}

h2 {
    margin: 0px 0px 5px 0px; 
    text-align: center;
    font-size: 30px;
}

label{  
    color: #2476E2;;  
    font-size: 17px;  
}

body {   
    font-family: 'Arial';  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('../images/notes.jpg');
    background-size: 100%;
} 

/* ---------- IDs ----------*/
#content {
    width: 65vw;
    position: absolute;
    height: 100%;
    margin-left: 17.5vw;
    margin-right: 17.5vw;
    background-color: #001C3A;
}

#privnotes {
    text-align: center;
    color: #2476E2; 
    font-family: babapro; 
    font-size: 23px;
    padding-top: 10px;
}

#allnotes {
    padding-left: 5vh;
    padding-right: 5vh;
}

#addnote {
    float: left;
    background-color: #CED5FF;
    width: 13vw;
    height: 40vh;
    margin-left: 30px;
    margin-bottom: 20px;
    border-radius: 15px;
    text-align: center;
    color: #164788;
    position: relative;
    padding-top: 95px; 
    border: 10px solid black;
    border-color: #164788;
    box-sizing: border-box;
}

#notecontent {
    width: 310px;  
    height: 90px;  
    border: none;  
    border-radius: 3px;  
    color: #000;
    text-align: left;
    font-size: 15px;
}

#cats {
    width: 310px; 
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
    color: #000;
    font-weight: bold;
}


/* -------- Classes ----------*/
.note {
    float: left;
    background-color: #2476E2;
    width: 13vw;
    height: 40vh;
    margin-left: 30px;
    margin-bottom: 20px;
    border-radius: 15px;
}
.title {
    padding: 11px;
    font-weight: bold;
    font-size: 19px;
    background: rgba(0, 0, 0, .40);
    border-radius: 15px 15px 0px 0px; 
    color: #FFF;
}

.category {
    padding: 5px 11px 5px 11px;
    font-size: 16px;
    background: rgba(0, 0, 0, .20);
    color: #FFF;
}

.content {
    padding: 5px 11px 11px 11px;
    color: #FFF;
}

.deleteNote {
    float: right;
    padding-bottom: 2px;
}

.editNote {
    float: right;
    padding-right: 6px;
}

.login {  
    width: 320px;  
    margin-left: 210px;
    border-radius: 15px;  
    background: rgba(0, 0, 0, .40); 
    padding: 40px 80px 65px 80px;  
    color: #2476E2;
} 
.acctInfo { 
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
    color: #000;
    font-size: 15px;
} 
.submitinfo{  
    color: #000;
    width: 300px;  
    height: 30px;  
    border: none;  
    font-size: 15px;
    padding-left: 7px;  
    border-radius: 17px;  
    border: 2px solid black;
    background-color: #FFF;
    border-color: #2476E2;
    align-content: center;
    font-weight: bold;
} 
